.client__list {
  display: flex;
}

.client__item {
  align-items: center;
  width: calc(100% - 6 * 30px / 6);
  height: 92px;
  padding: 0;

  box-sizing: border-box;
  border-radius: 4px;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--animation);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: var(--accent-grey-color);

  transition: fill var(--animation);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
}
