.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-family: ar(--main-font);
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}
